# Firebase
.firebase/
firebase-debug.log*
.runtimeconfig.json
firestore-debug.log*
ui-debug.log*

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.local
serviceAccountKey.json
